{% block content %}
<div class="fjutoolbar">
    <md-content style="overflow: visible">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <div flex="10">
            <img id="logo" src="img/fju-logo.png">
          </div>
          <h2>
            <span id="header">Franklin Jefferson University</span>
          </h2>
          <span flex=""></span>
          <md-button>
            Get to know FJU
          </md-button>
          <md-button>
            Learning at FJU
          </md-button>
          <md-button>
            FJU Courses
          </md-button>
        </div>
      </md-toolbar>
    </md-content>
  </div>
{% endblock %}