<!DOCTYPE html>
<html ng-app='landingpage'>
<head>
  <title>Franklin Jefferson University</title>
  <link rel="stylesheet" href="https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.0/angular-material.css">
  <link href='https://fonts.googleapis.com/css?family=Italianno' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <style type="text/css">
    /**
      * Hide when Angular is not yet loaded and initialized
    */
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>
</head>
<body >
  <!-- <div class="fjutoolbar">
    <md-content style="overflow: visible">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <div flex="10">
            <img id="logo" src="img/fju-logo.png">
          </div>
          <h2>
            <span id="header">Franklin Jefferson University</span>
          </h2>
          <span flex=""></span>
          <md-button>
            Get to know FJU
          </md-button>
          <md-button>
            Learning at FJU
          </md-button>
          <md-button>
            FJU Courses
          </md-button>
        </div>
      </md-toolbar>
    </md-content>
  </div> -->
  {% block content %}
    {% include "header.html" %}
  {% endblock %}
  <div id="info" layout="row" layout-align="center start">
    <div class="mssdcard" flex="70" layout-align="center">
      <md-card>
        <md-content class="md-padding">
          <span class="md-title">Master of Science in Software Development</span>
        
          <span class="md-subhead">
            <p align="left">The Master of Science in Software Development program is designed to provide an immersive learn by doing experience for students who aspire to take up roles in fast-paced software companies and tech startups. The curriculum begins with an introduction to programming, object oriented programming and databases as the foundation courses. Students then prepared to develop software for the Internet and Android devices. In addition students apply their skills and professional software development practices on real customer projects to attain a mastery in the field.</p>
          </span>
        </md-content>
      </md-card>

      <!-- <div layout="row">
        <md-card flex="33">
          <md-content class="md-padding" ng-controller="foundationCoursesCtrl as fndnctrl">
            <span class="md-title">Foundation Courses</span>
            <md-content>
              <md-list>
                <md-list-item class="md-1-line" ng-repeat="course in fndnctrl.courses">
                  <div class="md-list-item-text">
                    <span class="md-subhead"><p>{[{ course.coursename }]}</p></span>
                  </div>
                  <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
              </md-list> 
            </md-content>
            </span>
          </md-content>          
        </md-card>
        <md-card flex="33">
          <md-content class="md-padding" ng-controller="breadthCoursesCtrl as brctrl">
            <span class="md-title">Breadth Courses</span>
            <md-content>
              <md-list>
                <md-list-item class="md-1-line" ng-repeat="course in brctrl.courses">
                  <div class="md-list-item-text">
                    <span class="md-subhead"><p>{[{ course.coursename }]}</p></span>
                  </div>
                  <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
              </md-list> 
            </md-content>
          </md-content>
        </md-card> 
        <md-card flex="33">
          <md-content class="md-padding" ng-controller="specializationsCtrl as splctrl">
            <span class="md-title">Specializations</span>
            <md-content>
              <md-list>
                <md-list-item class="md-1-line" ng-repeat="course in splctrl.courses">
                  <div class="md-list-item-text">
                    <span class="md-subhead"><p>{[{ course.coursename }]}</p></span>
                  </div>
                  <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
              </md-list> 
            </md-content> 
          </md-content>
        </md-card>
      </div>
       -->
      
      <div layout="row">
        <md-card flex="33">
          <md-content class="md-padding" ng-controller="courseReqCtrl as reqctrl">
            <span class="md-title">Course Requirements</span>
            <span class="md-subhead"><p>To complete blah blah blah</p></span>
            <md-content>
                <md-list>
                  <md-list-item class="md-1-line" ng-repeat="course in reqctrl.courses">
                    <div class="md-list-item-text">
                      <span class="md-subhead">
                        <p>{[{ course.name }]}</p>
                      </span>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                  </md-list-item>
                </md-list> 
              </md-content> 
              <md-button class="md-raised">Course Catalog</md-button>
          </md-content>
        </md-card>
        <md-card flex="33">
          <md-content class="md-padding">
            <span class="md-title">Prerequisites</span>
            <span class="md-subhead">
              <ul>
                <li>Criteria 1</li>
                <li>Criteria 1</li>
                <li>Criteria 1</li>
              </ul>
            </span>
          </md-content>
        </md-card>
        <md-card flex="33">
          <md-content class="md-padding">
            <span class="md-title">Tution</span>
          </md-content>
        </md-card> 
      </div>
    </div>

    <div class="fjucard" flex="30">
      <md-card>
        <div class="fjucardtabs">
          <md-content>
            <md-tabs md-dynamic-height="" md-border-bottom="">
              <md-tab label="Register">
                <md-content class="md-padding">
                  <div layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage">
                    <md-content layout-padding="">
                      <div>
                        <form name="userForm">
                          <md-input-container class="md-block" flex-gt-sm="">
                            <label>First name</label>
                            <input ng-model="user.firstName">
                          </md-input-container>

                          <md-input-container class="md-block" flex-gt-sm="">
                            <label>Last Name</label>
                            <input ng-model="theMax">
                          </md-input-container>
                          
                          
                          <md-input-container class="md-block" flex-gt-sm="">
                            <label>Email</label>
                            <input type="email">
                          </md-input-container>
                         
                          <md-input-container class="md-block" flex-gt-sm="">
                            <label>Password</label>
                            <input type="password">
                          </md-input-container>
                          
                          <md-input-container class="md-block" flex-gt-sm="">
                            <label>Confirm Password</label>
                            <input type="password">
                          </md-input-container>
                            <md-checkbox class="green" flex-gt-sm="">
                              I agree to the Terms and Conditions.
                            </md-checkbox>
                            <md-button class="md-raised" flex-gt-sm="">Register</md-button>
                        </form>
                      </div>
                    </md-content>
                  </div>
                </md-content>
              </md-tab>
              <md-tab label="Sign In">
                <md-content class="md-padding">
                  <div layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage">
                    <md-content layout-padding="">
                      <div>
                        <form name="userForm">
                                                      
                          <md-input-container class="md-block" flex-gt-sm="">
                            <label>Email</label>
                            <input type="email">
                          </md-input-container>
                         
                          <md-input-container class="md-block" flex-gt-sm="">
                            <label>Password</label>
                            <input type="password">
                          </md-input-container>
                          
                          <div layout="row" flex-gt-sm="">
                            <md-checkbox class="green" flex-gt-sm="90">
                              Remember Me
                            </md-checkbox>
                            <md-button class="md-raised" flex-gt-sm="10">Sign In</md-button>
                          </div>
                        </form>
                      </div>
                    </md-content>
                  </div>
                </md-content>
              </md-tab>
            </md-tabs>
          </md-content>
        </div>
      </md-card>
    </div>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
</body>
</html>